.load {
 height: 100vh;
//  position: absolute;
//  left: 320px;
//  top: 80px;
 width: 100%;
 .loading {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999 ;
 }
 .logo {
    width: 200px;
    height: 100px;
    animation: load 1s linear infinite;
  img {
    width: 100%;
  }

  @keyframes load {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 0.8;
    }
  }
 }
}